[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-smorest = "*"
python-dotenv = "*"

[dev-packages]
ipython = "*"
pytest = "*"

[requires]
python_version = "3.9"
